

.home-container {
    padding: 2rem;
    max-width: 1440px;
    margin: 0 3.3rem;
    background-color: var(--color-bg);

}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: .3rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

/* select.region-select {
  background-color: var(--color-border);
  color: var(--color-text);
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color-scheme: dark;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}


.region-select {
    min-width: 220px;
    height: 55px;
    font-family: var(--font-base);
    font-weight: 600;
    background-color: var(--color-border);
    color: var(--color-text);
    border: none;
    border-radius: 6px;
    padding: 0 1rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); */
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23888' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
} */ 


.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 475px;
  min-width: 220px;
  height: 55px;
  /* margin: 0 2.75rem; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0 40px;
  background-color: var(--color-border);
  color: var(--color-text);
}

.search-input {
    width: 90%;
    height: 55px;
    padding: 20px 40px; 
    border: 0;
    background-color: var(--color-border);
    color: var(--color-text);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text);
  border: none;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: var(--color-text);
}

.countries-grid {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
}

.country-card {
    background-color: var(--color-border);
    color: var(--color-text);
    border-radius: 5px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.country-card:hover {
    transform: translateY(-4px);
}

.flag {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
}

h3, .card-body {
    margin-bottom: 1rem;
}

p, card-body {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
}

strong, card-body {
    font-weight: 600;
}

@media (max-width: 1200px) {
    .countries-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
    .countries-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .region-select {
    padding: 0;
  }
  
    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* 👈 aligns all children to the left */
        align-items: flex-start;
        gap: 1rem;
        margin-top: .3rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }

    .search-wrapper {
        width: 100%;
        margin: 0;
        max-width: 600px;
    }
}


@media (max-width: 600px) {
    .countries-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}