:root {
  /* Raw color palette */
  --blue-900: hsl(209, 23%, 22%);
  --blue-950: hsl(207, 26%, 17%);
  --grey-950: hsl(200, 15%, 8%);
  --grey-400: hsl(0, 0%, 50%);
  --grey-50:  hsl(0, 0%, 99%);
  --white: hsl(0, 100%, 100%);

  --font-base: 'Nunito Sans', sans-serif;

  /* Default: Light mode */
  --color-bg: var(--white);
  --color-text: var(--grey-950);
  --color-elements: var(--white);
  --color-border: var(--grey-50);
}

[data-theme="dark"] {
  --color-bg: var(--blue-950);
  --color-text: var(--white);
  --color-elements: var(--blue-900);
  --color-border: var(--blue-900);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  background-color: var(--color-elements);
}

.header {
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3.3rem;
  max-width: 1440px;
  height: auto;
  border-bottom: 4px groove var(--grey-50);
  /* box-shadow: 0 4px 8px hsl(5, 20%, 100%); */
  font-family: var(--font-base);
  flex-wrap: wrap;
}

h1, site-title {
  font-size: 24px;
  font-weight: 700;
  padding: 0 2rem;
}

.theme-toggle {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 1.5rem;
}

h1 {
  font-size: 30px;
}



/* 
- Mobile: 375px
- Desktop: 1440px

- Homepage Items: 14px
- Detail Page: 16px

- Font family: [Nunito Sans]
- Weights: 300, 600, 800
*/

@media (max-width: 768px) {
  .header {
    padding: 1rem;
    width: 100%;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h1, .site-title {
    font-size: 1.6rem;
  }

  .theme-toggle {
    padding: 0.4rem;
}
}