#root {
  --blue-900: hsl(209, 23%, 22%);
  --blue-950: hsl(207, 26%, 17%);
  /* Light Mode Text */
  --grey-950: hsl(200, 15%, 8%);
  /* Light Mode Input */
  --grey-400: hsl(0, 0%, 50%);
  /* Light Mode Background */
  --grey-50:  hsl(0, 0%, 99%);
  /* Dark Mode Text & Light Mode Elements */
  --white: hsl(0, 100%, 100%);

  --font-base: 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  background-color: var(--white);
}

.header {
  color: var(--grey-950);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 92%;
  max-width: 1440px;
  height: auto;
  border-bottom: 4px solid var(--grey-50);
  font-family: var(--font-base);
  flex-wrap: wrap;
}

.theme-toggle {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 1.5rem;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 0 2rem;
}

/* 
- Mobile: 375px
- Desktop: 1440px

- Homepage Items: 14px
- Detail Page: 16px

- Font family: [Nunito Sans]
- Weights: 300, 600, 800
